// ============================ Buttons ============================
.btn
	up()
	br(0)
	tr(all)
	display inline-block
	background none
	border 0
	text-align: center
	font-weight: 900
	&:hover
		cursor pointer

.btn--sm
	@extend .btn
	padding 12px 25px

.btn--md
	@extend .btn
	padding 18px 45px

.btn--lg
	@extend .btn
	font-size 20px
	padding 10px 30px

.btn--mobile
	@extend .btn
	+below(768px)
		width 100%
		text-align center

.btn--mark
	@extend .btn
	color white
	background $mark
	.nav-icon
		fill white
	&:hover
		background-color darken($mark,20)
		color white!important
	&:active
		background-color darken($mark,20)
	input[type="submit"]
		border 0
	.nav-icon
		fill white

.btn--disable
	@extend .disabled
	border 1px solid $border-color
	background-color #ffffff
	color #000000

.btn--light
	@extend .btn
	border 1px solid black
	background-color #ffffff
	&:hover
		border 1px solid gray
		background: black
		color white
	.nav-icon
		fill $mark

.btn--white
	@extend .btn
	border 1px solid white
	color white
	&:hover
		background: white
		color black

.btn--icon
	flex(mid)
	.nav-icon
		margin-left: 10px

.nav-icon
	size 20px
	display inline-block

.btn--icon-left
	.nav-icon
		margin-left: 0
		margin-right: 10px

.btn--full
	width: 100%
	display block

.btn-row
	display: grid
	grid-gap 20px
	//grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
.btn-row--line
	display: flex
	fw()
.btn-row--mid
	align-items center
	justify-content center
.btn--grow
	flex-grow 1

