@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.page
	f()
	fl()
	min-height 100vh

.content
	flex-grow 1

.content--mid
	flex(mid)

// animate top menu
@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0)
		visibility: visible;
	to
		transform: translate3d(0, 0, 0)

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 10
	bsh()
	.toolbar-top-wrap
		+above(1101px)
			display none
// animate top menu === end

// error
.page-error
	flex(mid)
	fl()
	height: 100%
.page-error__title
	@extend .type--xl
	margin-bottom: 30px
	font-weight: 700
	color $gray
.page-error__img
	margin-bottom: 30px
.page-error__text
	@extend .type--md
	color $gray
	margin-bottom: 30px
.page-error__get
	@extend .btn--md
	@extend .btn--mark
// error === end

// modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(640px)
		width: 100%
		box-shadow 0 0 0
	transform scale(.9) translateZ(0) translate3d(0, 0, 0)
	will-change: transform, opacity;
	backface-visibility: hidden
	position: absolute
	opacity 0
	transition transform .6s, opacity .8s
	max-width 400px
	left -9999px
	top -9999px
	.order__row
		margin-bottom: 20px
		border-bottom 0

.modal-content
	+below(640px)
		height: 100%
		padding: 20px
		overflow-y scroll
		width: 95%!important
	margin: 20px auto
	background: white
	position: relative
	padding: 40px 45px
	br(40px)

.modal__show
	max-height 100%
	opacity 1
	transform scale(1) translateZ(0) translate3d(0, 0, 0)
	position: relative
	z-index 1000
	left initial
	top initial
	transition transform .6s, opacity .8s
	will-change: transform, opacity

.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 20px
	right: 20px
	cp()
	size 50px
	br(20px)
	flex(mid)
	z-index 10
	background: #f8f8f8
	&:hover
		.icon
			opacity: 1
	.icon
		tr()
		size 12px
		fill black
		opacity:.3

.modal-hide-animation
	transform scale(.9)
	opacity 0
	transition transform .6s, opacity .8s
.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 20px
	text-align: center
	@extend .type--xl
	font-weight: 700

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto
	//width: 80%
	line-height: 1.6


.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%
// modal === end

// drop
.dropdown
	width: 100%
	display inline-block
	br(4px)
	tr()
	position relative
	border 1px solid $border-color
	outline none!important
.dropdown-current
	cursor pointer
	display block
	padding 10px
	padding-right 25px
	font-weight: 700
	.icon
		position absolute
		top calc(50% - 6px)
		right 10px
		size 12px
		tr()

.dropdown.active
	border-radius 4px 4px 0 0
	.icon
		transform rotate(180deg)

.dropdown-menu
	position absolute
	background-color #fff
	width calc(100% + 2px)
	left -1px
	margin-top -1px
	border-radius 0 0 4px 4px
	overflow hidden
	display none
	max-height 200px
	overflow-y auto
	z-index 10
	border 1px solid $border-color
.dropdown-menu__el
	padding 10px
	cp()
	tr()
	border-bottom 1px solid $border-color
	//background: #f9f9f9
	&:last-child
		border 0
	&:hover
		background: white
		color black
// drop === end

// cookie
.cookie
	position: fixed
	bottom 20px
	left 0
	width: 100%
	transform translateY(10px)
	opacity: 0
	z-index -1
	tr()
.cookie--active
	z-index 20
	opacity: 1
	transform translateY(0)
.cookie-wrap
	padding: 15px 20px
	br(20px)
	z-index 10
	background: white
	f()
	justify-content: space-between
	border 1px solid $border-color
	.icon
		&:hover
			fill black
		tr()
		size 14px
		margin-left: 10px
		fill $gray
		cp()
.cookie-text
	width calc(100% - 30px)
	font-size: 12px
// cookie === end

//.toolbar
.toolbar-top-wrap
	+below(1100px)
		.soc-row
			display none
	background: black
//.main-cont
.toolbar-top
	+below(1100px)
		height: 60px
	f()
	height: 75px
	align-items center
.logo
	flex(mid)
	img
		+below(1100px)
			width: 100px
		width: 140px
.logo__img
	margin-right: 10px
.logo__text
	color white
	font-size: 9px
.phone
	+below(640px)
		display none
	margin 0 20px 0 auto
	f()
	align-items center
	&:hover
		span
			color $green
		.icon
			fill $green
	.icon
		tr()
		fill white
		size 18px
		margin-right: 10px
	span
		tr()
		color white
		@extend .type--lg
.toolbar-order
	+below(768px)
		display none
	margin-left: 5%
.nav-wrap
	background: white
	+below(1100px)
		display none
.nav
	flex(between)
	height: 75px
	font-weight: 700
.nav__el
	padding: 5px
	up()
	&:hover
		color $green
.nav__el--active
	color $green

.banner
	+below(1100px)
		height calc(100vh - 60px)
	height calc(100vh - 150px)
	bg-full()
.slogan-wrap
	height: 100%
	f()
	fl()
	justify-content center
.slogan
	+below(1100px)
		text-align center
	color white
	up()
.slogan__title
	+below(640px)
		font-size: 72px
	font-weight: 700
	font-size: 96px
.slogan__title-sub
	@extend .type--xl
	font-weight 700
	margin-bottom: 10px
.slogan__text
	@extend .type--md
	margin-bottom: 40px
//.btn--white

.soc-row
	f()
.soc-row__el
	round()
	flex(mid)
	tr(all)
	margin-right: 10px
	size 30px
	background: white
	&:hover
		background: $green
		.icon
			fill white
	.icon
		size 14px

.section
	+below(1024px)
		padding: 80px 0
	+below(768px)
		padding: 60px 0
	padding: 120px 0

.section--dark
	background: black
	color white
	.book-row__dot
		border-color #ffffff47
	.slider-wrap--simple
		.slider-control
			border 1px solid white
			.icon
				fill white
			&:hover
				background: white
				.icon
					fill black
.section-title
	@extend .type--xl
	up()
	font-weight: 700
	@extend .mb-64
	text-align center

.section-title-sub
	+below(640px)
		margin-top: -10px
		margin-bottom: 40px
	text-align center
	margin-top: -40px
	@extend .mb-64

.section-title-sub--lg
	@extend .type--lg
	span
		@extend .type--xl
		font-weight: 700
		display inline-block
		margin: 0 5px
// advant
.advant
	+below(1100px)
		display: grid
		grid-gap 20px
		grid-template-columns: repeat(3,1fr)
	+below(640px)
		grid-template-columns: repeat(2,1fr)
	flex(between)
.advant__el
	flex(mid)
	fl()
.advant__el-icon
	.icon
		size 64px
	margin-bottom: 15px
.advant__el-text
	up()
	text-align center
	margin-bottom: 10px
.advant__el-title
	text-align center
	@extend .type--lg
	font-weight: 700
	up()
// advant === end

// card
.card-wrap
	+below(768px)
		fw()
	f()
	justify-content space-between
.card-img
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width 50%
	.gallery-slider-wrap
		margin-top: 0
.gallery__el
	bg-full()
	padding: 34% 10%
.gallery__el-nav
	bg-full()
	cp()
	padding: 34% 10%
	border-right 3px solid black
.card-descr
	+below(640px)
		width: 100%
	width: 45%
	margin-left: 5%
	padding-right: 10px
// card === end

.book-row
	+below(640px)
		font-size: 12px
	f()
	fw()
	align-items: flex-end
	margin-bottom: 20px
.book-row__title
	max-width: 60%
.book-row__dot
	border-bottom 1px dashed #00000017
	flex-grow 1
.book-row__value
	max-width: 60%
	vertical-align: bottom
	text-align: right
// === убираем выделения активности при клик ===
.slick-slide
	&:hover
		outline none!important
	&:active
		outline none!important
	&:focus
		outline none!important
// === убираем выделения активности при клике end ===

// === for custom navigation ===
.slider-wrap
	position relative

//Навигация снаружи
.slider-wrap--simple
	.slider-control
		+below(1280px)
			display none
		flex(mid)
		tr(all)
		size 40px
		position: absolute
		top 50%
		margin-top: -20px
		z-index 10
		cp()
		border 1px solid red
		&:hover
			background: $red
			.icon
				fill white
		.icon
			tr()
			size 14px
	.slider-control--left
		left -60px
	.slider-control--right
		right -60px
//Навигация снаружи end

//Навигация внутри
.slider-wrap--inarrow
	.slider-control
		flex(mid)
		tr(all)
		position: absolute
		top 50%
		margin-top: -20px
		z-index 10
		padding: 20px 10px
		background: black
		cp()
		opacity: .6
		&:hover
			opacity: 1
			.icon
				fill white
		.icon
			fill white
			size 30px
	.slider-control--left
		left 0
	.slider-control--right
		right 0
//Навигация внутри
// === for custom navigation ===

//=== Внешний вид пагинации ===
.slick-dots
	+below(720px)
		bottom -20px
	width: 100%
	display: flex !important
	align-items: center
	justify-content: center
	bottom -50px
	li
		+below(720px)
			size 10px
			flex(mid)
	.dot
		+below(720px)
			flex(mid)
		size 10px
		display: block
		border 1px solid $border-color
	.slick-active
		.dot
			background: white
			opacity: 1
//=== Внешний вид пагинации end===


.skills-cont
	max-width 1024px
	margin-left auto
	margin-right auto
	.book-row
		@extend .type--md
// tab
.tab
	+below(640px)
		overflow-y auto
	f()
	border-bottom 1px solid $border-color

.tab--fluid-modal
	margin-left -32px
	margin-right -32px
	.tab__el
		+below(640px)
			font-size: 14px
		padding-top: 0

.tab__el
	+below(768px)
		padding: 10px 10px 12px 10px
		white-space nowrap
	flex-grow 1
	text-align center
	font-weight: 500
	padding: 20px 20px 16px 20px
	color black
	border-bottom 4px solid transparent
	tr()
	cp()
	width: 100%
	up()
	@extend .type--md
	&.active
		font-weight: 700
		border-bottom 4px solid $mark
.tab-cont
	background: white
	opacity: 0
	left -9999px
	visibility: hidden
	position absolute
	transform translateY(-10px)
	transition opacity .6s, transform .6s
	&.active
		transform translateY(0px)
		visibility: visible
		opacity: 1
		left initial
		position: static
// tab === end

// why
.why
	+below(768px)
		align-items: stretch
		justify-content space-between
	f()
	justify-content center
	align-items:baseline
	fw()
	@extend .mb-48
.why__el
	+below(768px)
		width: 48%
		padding: 0
	f()
	justify-content flex-start
	align-items: center
	fl()
	width: 25%
	padding: 0 10px
	text-align center
	@extend .mb-24
.why__el-icon
	+below(640px)
		img
			size 130px 100px
	@extend .mb-24
.why__el-text
	+below(768px)
		width: 80%
	+below(640px)
		font-size: 12px
	margin-bottom: 10px
	line-height: 1.6
.why__el-title
	+below(640px)
		font-size: 14px
		line-height: 1.4
	@extend .type--lg
	font-weight: 700
	up()
	@extend .mb-16
// why === end

// video
.video-wrap
	position relative
	padding: 25% 20%
.video
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
// video === end

// photo
.photo-list
	display: grid
	grid-gap 0
	grid-template-columns: repeat(3, 1fr)
	//grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
.photo-list__el
	bg-full()
	padding: 33% 10%
	background-size 100%
	tr()
	&:hover
		background-size 110%
// photo === end

// review
.review__el
	+below(768px)
		width: 100%
	+below(640px)
		padding: 20px
	@extend .type--lg
	padding: 5% 10%
	border 2px dashed #ffffff4f
	width: 75%
	margin: 0 auto
.review__el-text
	p
		@extend .type--lg
		&:last-child
			margin-bottom: 0
	padding-bottom: 20px
	border-bottom 1px solid #ffffff54
.review__el-name
	font-weight: 700
	margin: 20px 0
.review__el-location
	@extend .type--main

// review === end

// deliver
.deliver-wrap
	padding: 30px 0
.deliver
	+below(1024px)
		padding: 80px 0
	+below(768px)
		padding: 60px 0
	padding: 120px 0
	background-size contain
	background-repeat no-repeat
	background-position center center
.deliver-cont
	flex(mid)
	fl()

.deliver-title
	font-weight: 700
	@extend .type--xl
	up()
	margin-bottom: 30px
.deliver-text
	font-weight: 700
	@extend .type--lg
	up()
	margin-bottom: 30px
// deliver === end

// cost
.cost
	+below(768px)
		grid-template-columns: 1fr
		max-width 480px
		margin: 0 auto
		margin-bottom: 32px
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(3, 1fr)
	//grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
.cost__el
	+below(768px)
		padding: 10% 5%
	background: white
	flex(mid)
	fl()
	padding: 20% 5%
	color black
	.btn--md
		margin-top: auto
.cost__el-cont
	flex(mid)
	fl()
	@extend .mb-32
.cost__el-img
	margin-bottom: 20px
.cost__el-text
	margin-bottom: 20px
	text-align center
.cost__el-cost
	@extend .type--lg
	span
		@extend .type--xl
		font-weight: 700
		display inline-block
		margin: 0 5px

.cost__el-link
	text-align center
	color #009aff
	margin-top: 20px
	font-weight: 700
	line-height: 1.6

// cost === end

// partner
.partner__el-wrap
	padding: 10px
.partner__el
	bg-full()
	-webkit-filter grayscale(1)
	tr()
	background-size:contain
	padding: 12% 10%
	&:hover
		-webkit-filter grayscale(0)

// partner === end

// location
.location
	+below(1024px)
		padding-top: 80px
	+below(768px)
		padding-top: 60px
	padding-top: 120px
	background: black
	color white
.map-wrap
	position relative
	width: 100%
	padding: 15% 10%
	min-height 400px
.map
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
	background: #292929
// location === end

.footer
	background: black
	color white

.footer-row-wrap
	padding: 30px 0
	&:first-child
		border-bottom 1px dashed rgba(255,255,255,0.31)

.footer-row
	flex(between)
.footer-info
	max-width 400px
	line-height: 1.4
	font-size: 10px
	p
		font-size: 10px
		margin-bottom: 10px
	a
		color white
.footer-info--right
	text-align: right

// slider menu
.head-toggle
	+below(640px)
		margin-left auto
	flex(mid)
	cp()
	margin-right: 10px
	+above(1101px)
		display: none
	.icon
		+below(640px)
			size 20px
		size 25px
		fill white
		margin-left: 40px
	.icon-close
		display: none

.head-toggle.slide-block-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-block
	+below(640px)
		top 60px
		height: calc(100% - 60px) // Высота шапки
	+below(480px)
		width: 80%
	position: fixed
	top 60px // Высота шапки
	width: 360px
	tr(all)
	height: calc(100% - 60px) // Высота шапки
	z-index 1100
	background: #232323
	color white
.slide-block--left
	left 0
	transform translateX(-100%)

.slide-block--right
	right 0
	transform translateX(100%)

.slide-block--open
	transform translateX(0%)

.slide-block-wrap
	padding: 40px
	.phone
		display: flex !important
.slide-nav__el
	color white
	@extend .type--md
	up()
	display block
	margin-bottom: 20px
	font-weight: 700
// slider menu === end

.tech
	+below(960px)
		fw()
	f()
	justify-content space-between
.tech-list
	+below(960px)
		width: 100%
		display: grid
		grid-gap 20px
		grid-template-columns: repeat(3, 1fr)
		//grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
	+below(768px)
		grid-template-columns: repeat(2, 1fr)
	+below(640px)
		grid-template-columns: 1fr
	width: 30%
.tech-list__el
	+below(960px)
		border 1px solid black
	f()
	margin-bottom: 10px
	border 1px solid transparent
	padding: 20px
	align-items center
	cp()
	tr()
	position relative
	&:hover
		border 1px solid black
	&.active
		border 1px solid black

.tech-list__el-icon
	margin-right: 25px
	.icon
		size 70px
.tech-list__el-text
	+below(1200px)
		font-size: 16px
	@extend .type--lg
.tech-img
	+below(960px)
		display none
	width: 65%
	position relative
.tech-img__el
	bg-full()
	position absolute
	left -9999px
	opacity: 0
	padding: 40% 10%
	background-size contain
	transition opacity .6s,  transform .6s
	transform scale(.9)
	&.active
		transform scale(1)
		position: static
		left initial
		opacity: 1

.tech-point
	position absolute
	background: black
	border 1px solid white
	padding: 4px
	cp()
	span
		size 10px
		display block
		background: black
		tr()
	&:hover
		span
			background: green
	&.active
		span
			background: green
.tech-point--construction
	right: 40%
	top 40%

.tech-point--tire
	left 18%
	bottom 50%

.tech-point--engine
	+below(1200px)
		bottom 55%
	left 40%
	bottom 40%

.tech-point--paint
	right: 25%
	top 25%

.tech-point--gearbox
	bottom 45%
	right: 45%

.tech-list__el-pin
	position absolute
	size 0px
	background: black
	top calc(50%)
	right: 0px


